{% extends 'layout.html.twig' %}
{% block stylesheet %}
	{{parent()}}
	<link rel="stylesheet" href="/assets/css/forms.css">
{% endblock %}

{% block content %}



	<div id="wrapper" class="bg-lightPrimary">
		<div class="bg-lightSecondary pt-4 w-100" style="height: 180px">
			<div style="border-bottom:solid; border-bottom-color:var(--prune)">
				<h1 class="pt-2 ps-2 mt-5 mx-5 text-prune" style="letter-spacing:5px">
					Nouvelle bouteille
				</h1>
			</div>
		</div>

		<form
			action="addWine" method="POST" class="my-5 p-3 border-start border-end shadow-lg text-prune block2" enctype="multipart/form-data">
			<!-- ********************************** sous-block1 ********************************* -->

			<div
				class="container text-center ss-block1 ">
				<!--ms-3 container-fluid row -->
				<div
					class="img_input">
					{# <!-- ----------------------illustration -----------------------------> #}
					<div class="div_illustration input-group-sm" id="div_illustration">
						<div class="img_bouteille m-auto">
							<img src="/assets/images/bouteille.svg" class="mt-5 mb-2 w-1 h-auto">
						</div>
						<input
						type="file" name="avatar" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="illustrationUpload"/>
					{# <label for="illustration" class="form-label text-start p-1 mb-0 form-label text-start p-1 mb-0"></label> #}
					</div>
					{# <!-- ----------------------block input à côté image -----------------------------> #}
					<div
						class=" gpe_right_img">
						{# <!-- ----------gpe checkbox ----------------> #}
						<div class=" mt-4 mb-3 d-flex">
							<div class="form-check d-flex">
								<input class="form-check-input" type="radio" name="color_id" id="rouge" value="1">
								<label class="form-check-label" for="rouge">
									Rouge
								</label>
							</div>
							<div class="form-check ms-3 ">
								<input class="form-check-input" type="radio" name="color_id" id="rose" value="3">
								<label class="form-check-label" for="rose">
									Rosé
								</label>
							</div>
							<div class="form-check ms-3">
								<input class="form-check-input" type="radio" name="color_id" id="blanc" value="2">
								<label class="form-check-label" for="blanc">
									Blanc
								</label>
							</div>
						</div>
						{# <!-- ----------FIN gpe checkbox ----------------> #}
						<div class="d-flex flex-column" id="div_domaine">
							<label for="domaine" class="form-label text-start p-1 mb-0 mt-2 text-start"></label>
							<input type="text" name="domaine" class="form-control w-100" id="domaine" placeholder="Domaine :">
						</div>
						<div class="type d-flex flex-column ">
							<!--row -->
							<label for="type" name="type"class="form-label text-start mb-0 mt-2">Type :</label>
								<select class="form-select form-select-sm mt-3" aria-label="Default select example" name="type_id"> <option selected desabled>Choisir le type</option>
								{% for type in types %}
									<option value="{{type.id}}">{{type.label}}</option>
								{% endfor %}
							</select>
							{# <select class="select-type" name="type[]" multiple id="type">
																																																																																																																																																																																																																																																																										                            <?php foreach ($types as $type) : ?>
																																																																																																																																																																																																																																																																										                                    <option value="<?= $type['id'] ?>"><?= $type['libelle'] ?> </option>
																																																																																																																																																																																																																																																																										                                <?php endforeach ?>
																																																																																																																																																																																																																																																																										                        </select> #}
						</div>

						<div class="d-flex flex-column" id="div_annee">
                        	<label for="vintage" class="form-label text-start p-1 mt-3 mb-0 mb-0 text-start">Année:</label>
                        	<input type="number" name="vintage" class="form-control w-100" id="vintage" value='{{wine.vintage}}'>
                    	</div>
						

						
                    <div class="select_app_block d-flex flex-column" id="div_appellation">
                        <label for="appellation_id"  class="form-label text-start p-1 mt-3 mb-0">Appellation :</label>
                        <select class="form-select form-select-sm mb-0" aria-label="Default select example" name="appellation_id" id="appellation_id">
                            <option value='{{wine.appellation_id}}' selected>{{appellation.label|title}}</option>
                             {% for appellation in appellations %}
                            <option  value={{appellation.id}}>{{appellation.label}}</option>
                            {% endfor %}
                            
                        </select>
                            </select>
                    </div>
					<div
						class="select_region_block d-flex flex-column" id="div_region">
						<label for="region_id" class="form-label text-start p-1 mb-0 mt-3">Région :</label>
						<select class="form-select form-select-sm mt-3" aria-lasbel="Default select example" name="region_id" id="region_id">
							<option selected>Choisir la région</option>
							{% for region in regions %}
								<option value="{{region.id}}">{{region.label}}</option>
							{% endfor %}
						</select>
					</div>
					<div
						class="d-flex flex-column" id="div_pays">
						<label for="country_id"class="form-label text-start p-1 mb-0 mt-3 ">Pays :</label>
						<select class="form-select form-select-sm mt-3" aria-lasbel="Default select example" name="country_id" id="country_id">
							<option selected>Choisir le pays</option>
								{% for country in countries %}
									<option value="{{country.id}}">{{country.label}}</option>
								{% endfor %}
						</select>
					</div>
				</div>
				<!-- FIN div gpe_right_img  -->
			</div>
			<!-- FIN div img_+_input  -->
			{# <!-- ----------------------input vintage en long -----------------------------> #}
			{# <div
				class="sous_image d-flex flex-column" id="div_vintage">
				<label for="cepage" name="cepage"class="form-label text-start p-1 mb-0 mt-3">Cépage :</label>
				<select class="form-select form-select-sm mt-4" aria-lasbel="Default select example">
					<option selected>Choisir le cépage</option>
					<option selected>Choisir le cépage</option>
					<option selected>Choisir le cépage</option>
				</select>
			</div> #}
		</div>


		<div class="mb-3 ss-block2">
			<div class="ss-ss-block2-1">
				<div class="mb-3 mx-auto">
					<textarea type="text" name="description" class=" textearea form-control mt-4 mx-auto" id="description" rows="4" placeholder="Description commerciale..."></textarea>
				</div>
				<div class="d-flex row justify-content-around block_checkBox m-auto">
					<p class="ms-3 mb-1 ">SE BOIT AVEC</p>
					<hr>
					<div class=" ms-2 col checkBoxLeft">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="Charcuterie" name="winePairing[]">
							<label class="form-check-label" for="Charcuterie">Charcuterie</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="ViandeBlanche" name="winePairing[]">
							<label class="form-check-label" for="ViandeBlanche">Viande blanche</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="ViandeRouge" name="winePairing[]">
							<label class="form-check-label" for="ViandeRouge">Viande rouge</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="Gibier" name="winePairing[]">
							<label class="form-check-label" for="Gibier">Gibier</label>
						</div>
					</div>
					<div class="col ms-5 checkBoxRight">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="Poisson" name="winePairing[]">
							<label class="form-check-label" for="Poisson">Poisson</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="Fromage" name="winePairing[]">
							<label class="form-check-label" for="Fromage">Fromage</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="Chocolat" name="winePairing[]">
							<label class="form-check-label" for="Chocolat">Chocolat</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="fruités" name="winePairing[]">
							<label class="form-check-label" for="fruités">Dessert fruités</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row justify-content-around ss-ss-block2-2">
				<div class="col-5">
					<div class="my-3">
						<label for="date_achat" class="form-label text-start p-1 mb-0">Date d'achat :</label>
						<input type="date" name="purchaseDate" class="form-control" id="date_achat"></textarea>
				</div>
				<div class="mb-3">
					<label for="price" class="form-label text-start p-1 mb-0">Prix d'achat :</label>
					<input type="number" name="price" class="form-control" id="price" placeholder="€">
				</div>
			</div>
			<div class="col-5 ">
				<div class="my-3">
					<label for="aging" name="aging" class="form-label text-start p-1 mb-0">Boire avant :</label>
					<input type="number" name="drinkBefore" class="form-control" id="aging" placeholder="Année">
				</div>
				<div class="mb-3">
					<label for="value" class="form-label text-start p-1 mb-0">Valeur :</label>
					<input type="number" name="value" class="form-control" id="value" placeholder="€">
				</div>
			</div>
		</div>
	</div>


	<div class="row ss-block3 mx-auto w-100 px-2">
		<div class="row ss-ss-block2 p-0">
			<div class="mb-3">
				<label for="rank" class="form-label text-start p-1 mb-0">Ranking :</label>
				<div class="etoile">
					<div class="input_etoile mb-1 ps-3" id="input_etoile1">
						<input type="radio" name="rank">
						<span class="etoile ms-1">
							<i class="bi bi-star text-warning"></i>
						</span>
					</div>
					<div class=" input_etoile mb-1 ps-3" id="input_etoile2">
						<input type="radio" name="rank">
						<span class="etoile ms-1">
							<i class="bi bi-star text-warning"></i>
						</span>
						<span class="etoile ms-1">
							<i class="bi bi-star text-warning"></i>
						</span>
					</div>
					<div class=" input_etoile mb-1 ps-3" id="input_etoile3">
						<input type="radio" name="rank">
						<span class="etoile ms-1">
							<i class="bi bi-star text-warning"></i>
						</span>
						<span class="etoile ms-1">
							<i class="bi bi-star text-warning"></i>
						</span>
						<span class="etoile ms-1">
							<i class="bi bi-star text-warning"></i>
						</span>
					</div>
					<div class=" input_etoile mb-1 ps-3" id="input_etoile4">
						<input type="radio" name="rank">
						<span class="etoile ms-1">
							<i class="bi bi-star text-warning"></i>
						</span>
						<span class="etoile ms-1">
							<i class="bi bi-star text-warning"></i>
						</span>
						<span class="etoile ms-1">
							<i class="bi bi-star text-warning"></i>
						</span>
						<span class="etoile ms-1">
							<i class="bi bi-star text-warning"></i>
						</span>
					</div>
					<div class=" input_etoile mb-1 ps-3" id="input_etoile5">
						<input type="radio" name="rank">
						<span class="etoile ms-1">
							<i class="bi bi-star text-warning"></i>
						</span>
						<span class="etoile ms-1">
							<i class="bi bi-star text-warning"></i>
						</span>
						<span class="etoile ms-1">
							<i class="bi bi-star text-warning"></i>
						</span>
						<span class="etoile ms-1">
							<i class="bi bi-star text-warning"></i>
						</span>
						<span class="etoile ms-1">
							<i class="bi bi-star text-warning"></i>
						</span>
					</div>

				</div>
			</div>

			<div class="mb-3">
				<textarea type="text" name="comment" class=" textearea form-control mt-4 mx-1" id="comment" rows="4" placeholder="Commentaires..."></textarea>
			</div>
		</div>
	</div>
	<div class="row ss-block4">
		<div class="stock_block mt-4 d-inline-flex">
			<label for="stock" class="stock_label form-label text-start ps-3 pt-2 mb-0  w-25">STOCK :</label>
			<input type="number" name="stock" class="form-control w-25" id="stock">
		</div>
		<div class="my-4">
			<label for="location" class="textearea form-label text-start ps-3 pb-1 mb-0">Emplacement :</label>
			<textarea type="text" name="cellarLocation" class="textearea form-control mt-0 mx-auto" id="location" rows="2" placeholder="Etagère, armoire casier..."></textarea>
		</div>
	</div>

	<div class="d-flex justify-content-center gap-3 mt-3 mb-5">
		<div class="bg_prune d-flex justify-content-center">
		<button type="submit" id="btnadd" class=" btn_dark btn mb-3 mt-3">Ajouter</button>

		</div>
		<div class="bg_prune d-flex justify-content-center">
			<button type="submit" id="btnadd" class=" btn-pinkWine btn mb-3 mt-3">Annuler</button>
		</div>

	</div>

</form></div><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script></body>{% endblock %}
