{% extends 'layout.html.twig' %}
{% block stylesheet %}
	{{parent()}}
	<link rel="stylesheet" href="/assets/css/forms.css">
{% endblock %}
{% block content %}
	<div id="wrapper" class="bg-lightPrimary">
		<div class="bg-lightSecondary pt-4 w-100" style="height: 180px">
			<div style="border-bottom:solid; border-bottom-color:var(--prune)">
				<h1 class="pt-2 ps-2 mt-5 mx-5 text-prune" style="letter-spacing:5px">
					Modification {{wine.domaine|upper}}
				</h1>
			</div>
		</div>

		<form
			action="updateWine" method="POST" class="my-5 p-3 border-start border-end shadow-lg text-prune block2" enctype="multipart/form-data">
			<!-- ********************************** sous-block1 ********************************* -->

            <div class="container text-center ss-block1 "><!--ms-3 container-fluid row -->
            <div class="img_input">
                {# <!-- ----------------------illustration -----------------------------> #}
                <input hidden name="wine_id" value='{{wine.id}}' id="wine_id">
                <div class="div_illustration input-group-sm" id="div_illustration">
                    <div class="img_bouteille m-auto">
                        <img src="{{ wine.picture ?? '/assets/images/bouteille.svg'}}" class="mt-5 mb-2 w-1 h-auto">
                    </div>
                    <input type="file" name="avatar" class="form-control" value= {{wine.picture}} aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="picture">
                    {# <label for="illustration" class="form-label text-start p-1 mb-0 form-label text-start p-1 mb-0"></label> #}
                </div>
                {# <!-- ----------------------block input à côté image -----------------------------> #}
                <div class=" gpe_right_img">
                                {# <!-- ----------gpe checkbox ----------------> #}
                    <div class=" mt-4 mb-3 d-flex">
                        <div class="form-check d-flex">
                            <input class="form-check-input" type="radio" name="color_id" id="rouge" value="1" {% if wine.color_id == "1" %}checked{% endif %}>
                            <label class="form-check-label" for="rouge" >
                                Rouge
                            </label>
                        </div>
                        <div class="form-check ms-3 ">
                            <input class="form-check-input" type="radio" name="color_id" id="rose" value="3" {% if wine.color_id == "3" %}checked{% endif %}>
                            <label class="form-check-label" for="rose">
                                Rosé
                            </label>
                        </div>
                        <div class="form-check ms-3">
                            <input class="form-check-input" type="radio" name="color_id" id="blanc" value="2" {% if wine.color_label == "blanc" %}checked{% endif %}>
                            <label class="form-check-label" for="blanc">
                                Blanc
                            </label>
                        </div>
                    </div> {# <!-- ----------FIN gpe checkbox ----------------> #}
                    <div class="d-flex flex-column" id="div_domaine">
                        <label for="domaine" class="form-label text-start p-1 mt-3 mb-0 mb-0 text-start">Domaine:</label>
                        <input type="text" name="domaine" class="form-control w-100" id="domaine" value='{{wine.domaine}}'>
                    </div>
                    <div class="type d-flex flex-column "><!--row -->
                        <label for="type_id"  class="form-label text-start p-1 mt-3 mb-0" >Type :</label>
                        <select class="form-select form-select-sm mb-0" name="type_id" id="type_id"  aria-label="Default select example">
                            <option value='{{wine.type_id}}' selected>{{type.label}}</option>
                            {% for type in types%}
                            <option  value={{type.id}}>{{type.label}}</option>
                            {% endfor %}
                        </select>
                        {# <select class="select-type" name="type[]" multiple id="type">
                            <?php foreach ($types as $type) : ?>
                                    <option value="<?= $type['id'] ?>"><?= $type['libelle'] ?> </option>
                                <?php endforeach ?>
                        </select> #}
                    </div>
                    <div class="d-flex flex-column" id="div_annee">
                        <label for="vintage" class="form-label text-start p-1 mt-3 mb-0 mb-0 text-start">Année:</label>
                        <input type="number" name="vintage" class="form-control w-100" id="vintage" value='{{wine.vintage}}'>
                    </div>
            
                    <div class="select_app_block d-flex flex-column" id="div_appellation">
                        <label for="appellation_id"  class="form-label text-start p-1 mt-3 mb-0">Appellation :</label>
                        <select class="form-select form-select-sm mb-0" aria-label="Default select example" name="appellation_id" id="appellation_id">
                            <option value='{{wine.appellation_id}}' selected>{{appellation.label}}</option>
                             {% for appellation in appellations %}
                            <option  value={{appellation.id}}>{{appellation.label}}</option>
                            {% endfor %}
                            
                        </select>
                            </select>
                    </div>
                    <div class="select_region_block d-flex flex-column" id="div_region">
                        <label for="region_id" class="form-label text-start p-1 mt-3 mb-0">Région :</label>
                        <select class="form-select form-select-sm mb-0" aria-lasbel="Default select example" name="region_id" id="region_id">
                            <option value='{{wine.region_id}}' selected>{{region.label}}</option>
                             {% for region in regions %}
                            <option  value={{region.id}}>{{region.label}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="d-flex flex-column" id="div_pays">
                        <label for="country_id" class="form-label text-start p-1 mt-3 mb-0">Pays :</label>
                        <select class="form-select form-select-sm mb-0" aria-lasbel="Default select example" name="country_id" id="country_id">
                            <option value='{{wine.country_id}}' selected>{{country.label}}</option>
                             {% for countrie in countries %}
                            <option  value={{countrie.id}}>{{countrie.label}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div> <!-- FIN div gpe_right_img  -->
            </div> <!-- FIN div img_+_input  -->
                {# <!-- ----------------------input vintage en long -----------------------------> #}
            {# <div class="sous_image d-flex flex-column" id="div_vintage">
                <label for="cepage" name="cepage"class="form-label text-start p-1 mt-3">Cépage :</label>
                        <select class="form-select form-select-sm mb-0" aria-lasbel="Default select example">
                            <option selected>Choisir le cépage</option>                           
                        </select>
            </div>    #}
        </div> 
            
            
                    
                <div class="mb-3 ss-block2">
                    <div class="ss-ss-block2-1">
                        <div class="mb-3 mx-auto">
                         <label for="description" name="description"class="form-label text-start p-1 ms-3 mt-3 mb-0">Description commerciale :</label>
                            <textarea type="text" name="description" class=" textearea form-control mx-auto" id="description" rows="4" placeholder="Description commerciale...">{{wine.description}}</textarea>
                        </div>
                        <div class="d-flex row justify-content-around block_checkBox m-auto">
                            <p class="ms-3 mb-1 mt-3 ">ACCOMPAGNE</p>
                            <hr>    
                            <div class=" ms-2 col checkBoxLeft">
                                <div class="form-check"> 
                                    <input class="form-check-input" type="checkbox" value="1" name="winePairings[]" id="charcuterie"{% if 'charcuterie' in winePairing %}checked{% endif %}>
                                    <label class="form-check-label" for="charcuterie">Charcuterie</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="3" name="winePairings[]"  id="viande_blanche" {% if 'viande blanche' in winePairing %}checked{% endif %}>
                                    <label class="form-check-label" for="viande_blanche">Viande blanche</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="2" name="winePairings[]" id="viand_rouge" {% if 'viande rouge' in winePairing %}checked{% endif %}>
                                    <label class="form-check-label" for="viand_rouge">Viande rouge</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="4" name="winePairings[]" id="gibier" {% if 'gibier' in winePairing %}checked{% endif %}>
                                    <label class="form-check-label" for="gibier">Gibier</label>
                                </div>
                            </div>
                            <div class="col ms-5 checkBoxRight">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="5" name="winePairings[]" id="poisson" {% if 'poisson' in winePairing %}'checked'{% endif %}>
                                    <label class="form-check-label" for="poisson">Poisson</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="6" name="winePairings[]"  id="fromage" {% if 'fromage' in winePairing %}checked{% endif %}>
                                    <label class="form-check-label" for="fromage">Fromage</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="7" name="winePairings[]"  id="chocolat" {{ ('chocolat' in winePairing) ? 'checked' : '' }}>
                                    <label class="form-check-label" for="chocolat">Chocolat</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="8" name="winePairings[]"  id="dessert" {% if 'dessert fruites' in winePairing %}checked{% endif %}>
                                    <label class="form-check-label" for="dessert">Desserts fruités</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-around ss-ss-block2-2 mt-3">
                        <div class="col-5 ">
                            <div class="my-3">
                                <label for="purchaseDate" class="form-label text-start p-1 mb-0">Date d'achat :</label>
                                <input type="date" name="purchaseDate" class="form-control" id="purchaseDate" value={{wine.purchaseDate}}></input>
                            </div>
                            <div class="mb-3">
                                <label for="price" class="form-label text-start p-1 mb-0">Prix d'achat :</label>
                                <input type="number" name="price" class="form-control" id="price" value={{wine.price }}>
                            </div>
                        </div>
                        <div class="col-5 ">
                            <div class="my-3">
                                <label for="drinkBefore" class="form-label text-start p-1 mb-0">Boire avant :</label>
                                <input type="number" name="drinkBefore" class="form-control" id="drinkBefore" value={{wine.drinkBefore}}>
                            </div>
                            <div class="mb-3">
                                <label for="value" class="form-label text-start p-1 mb-0">Valeur :</label>
                                <input type="number" name="value" class="form-control" id="value" value={{wine.value}}>
                            </div>
                        </div>   
                        </div>
                    </div>
                
                    
                <div class="row ss-block3 mx-auto w-100 px-2">
                    <div class="row ss-ss-block2 p-0">
                        <div class="mb-3">
                            <label for="rank" class="form-label text-start p-1 mb-0">Ranking :</label>
                            <div class="etoile">
                                <div class="input_etoile mb-1 ps-3" id="input_etoile1">
                                    <input type="radio" name="rank" value="1"  id="etoile1" {% if wine.rank == "1" %}checked{% endif %}>
                                    <span class="etoile ms-1"><i class="bi bi-star text-warning"></i></span>
                                </div>
                                <div class=" input_etoile mb-1 ps-3" id="input_etoile2" >
                                    <input type="radio" name="rank" value="2" id="etoile2" {% if wine.rank == "2" %}checked{% endif %}>
                                    <span class="etoile ms-1"><i class="bi bi-star text-warning"></i></span><span class="etoile ms-1"><i class="bi bi-star text-warning"></i></span>
                                </div>
                                <div class=" input_etoile mb-1 ps-3" id="input_etoile3">
                                    <input type="radio" name="rank" value="3"  id="etoile3" {% if wine.rank == "3" %}checked{% endif %}>
                                    <span class="etoile ms-1"><i class="bi bi-star text-warning"></i></span><span class="etoile ms-1"><i class="bi bi-star text-warning"></i></span><span class="etoile ms-1"><i class="bi bi-star text-warning"></i></span>
                                </div>
                                <div class=" input_etoile mb-1 ps-3" id="input_etoile4" {% if wine.rank == "4" %}checked{% endif %}>
                                    <input type="radio" name="rank" value="4"  id="etoile4">
                                    <span class="etoile ms-1"><i class="bi bi-star text-warning"></i></span><span class="etoile ms-1"><i class="bi bi-star text-warning"></i></span><span class="etoile ms-1"><i class="bi bi-star text-warning"></i></span><span class="etoile ms-1"><i class="bi bi-star text-warning"></i></span>
                                </div>
                                <div class=" input_etoile mb-1 ps-3" id="input_etoile5">
                                    <input type="radio" name="rank" value="5"  id="etoile5" {% if wine.rank == "5" %}checked{% endif %}>
                                    <span class="etoile ms-1"><i class="bi bi-star text-warning"></i></span><span class="etoile ms-1"><i class="bi bi-star text-warning"></i></span><span class="etoile ms-1"><i class="bi bi-star text-warning"></i></span><span class="etoile ms-1"><i class="bi bi-star text-warning"></i></span><span class="etoile ms-1"><i class="bi bi-star text-warning"></i></span>
                                </div>
                             
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <textarea type="text" name="comment" class=" textearea form-control mt-4 mx-1" id="commentaire" rows="4" placeholder="Commentaires...">{{wine.comment}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="row ss-block4">
                    <div class="stock_block mt-4 d-inline-flex">
                        <label for="stock" class="stock_label form-label text-start ps-3 pt-2 mb-0  w-25">STOCK :</label>
                        <input type="number" name="stock" class="form-control w-25" id="stock" value={{wine.stock}}>
                    </div>
                    <div class="my-4">
                        <label for="cellarLocation" class="textearea form-label text-start ps-3 pb-1 mb-0">Emplacement :</label>
                        <textarea type="text" name="cellarLocation" class="textearea form-control mt-0 mx-auto" id="cellarLocation" rows="2" placeholder="Etagère, armoire casier...">{{wine.cellarLocation}}</textarea>
                    </div>
                </div>
                            
                <div class="d-flex justify-content-center gap-3 mt-3 mb-5">
                   <div class="bg_darkdarkRed d-flex justify-content-center">
						<button type="submit" id="btnadd" class=" btn_dark btn mb-3 mt-3">Modifier</button>
					</div>
                   <div class="bg_darkdarkRed d-flex justify-content-center">
						<button type="button" id="btnadd" class=" btn_light btn mb-3 mt-3">Annuler</button>
					</div>
                   
                </div>
        
    </form>
</div>
          
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
         
</body>
{% endblock %}