{% extends 'layout.html.twig' %}
{% block stylesheet %}
	{{parent()}}
	<link rel="stylesheet" href="/assets/css/show.css">
{% endblock %}
{% block content %}

	<div class=" show_wine my-5 border-start border-end shadow-lg text-prune" style=" background-color: var(--lightPrimary); padding-top:3vh ">

		{# first section #}
		{# <div class="d-flex justify-content-between px-5"> #}
			<div
			class="d-flex flex-column flex-sm-row px-3"> {# info #}
			<div class="d-flex flex-column w-100 ps-2 justify-content-around">
				<div class="w-100 d-flex flex-column justify-content-center">

					<div class="d-flex flex-column justify-content-between" style="border-bottom: solid; border-color:var(--lightPrimary); color: var(--prune);">
						<h1 style="w-100 flex-shrink-0	 color: var(--prune);">{{wine.domaine}}</h1>
						<div class="titre_stars w-100 d-flex flex-row">
							<div class="star_buttton d-flex flex-column w-100 ">
								<div class=" pb-2 ps-2 d-flex flex-row w-50">
									{% block stars %}
										{% include "Component/_stars.html.twig" %}
									{% endblock %}
								</div>
								<div class="btn_modifier w-50">
									<a href="showUpdateForm?id={{wine.id}}">
										<button type="button" class="btn btn-prune my-3 p-2 border-0 rounded h-2">
											<p class="mb-0 text-center">Modifier la fiche</p>
										</button>
									</a>
								</div>
							</div>
							<div class="border">
								<img src="/assets/images/BouteilleSeule.jpg" alt="Wine Picture" height="200" width="100"/>
							</div>
						</div>
						<hr class="border-3">


					</div>

					<div class="d-flex justify-content-between ">
						<div class="d-flex gap-4">
							<p class="text-prune">Vin
								{{colorLabel.label|upper}}</p>
							<p class="text-prune">|</p>

							<p class="text-prune">{{typeLabel.label|upper}}</p>
						</div>
						<div>
							<p class="pe-4 " class="text-prune">{{wine.vintage|upper}}</p>
						</div>
					</div>

				</div>

				<div class="d-flex">
					<div class=" d-flex flex-column gap-5 pb-5  ">
						<div class="d-flex flex-column">
							<p class="text-prune">
								<strong>Pays :
								</strong>
								{{countryLabel.label|upper}}</p>
							<p class="text-prune">
								<strong>Région :
								</strong>
								{{regionLabel.label|upper}}</p>
							<p class="text-prune">
								<strong>Appelation :
								</strong>
								{{appellationLabel.label|upper}}</p>
							{# <p class="text-prune">Cépage :</p> #}
						</div>
						<div>
							<p class="text-prune">
								<strong>Ce vin accompagne :</strong><br>
								{% for tabwinePairing in tabwinePairings  %}-
									{{tabwinePairing|upper}}
									<br>
								{% endfor %}
							</p>
						</div>
						<div>
							<p class="text-prune">
								<strong>Limite de conservation :
								</strong>
								{{wine.drinkBefore}}</p>
						</div>
					</div>
				</div>
			</div>


			{# bouteill stock #}
			{# <div class ="d-flex flex-column align-items-center gap-1"> #}

			<div class="d-flex justify-content-center gap-4 flex-sm-column pb-3">

				<div class="d-flex flex-column align-items-center justify-content-center">
					<div class="d-flex flex-column align-items-center " style="width:3rem;">
						<p style="border-bottom: solid; border-color:var(--lightPrimary); color: var(--prune);">
							<strong>Stock</strong>
						</p>
						<p class="text-prune">{{wine.stock}}</p>
					</div>
					<div>
						<button type="button" class="btn btn-prune my-3 p-2 border-0 rounded h-2" type="button" data-bs-toggle="modal" data-bs-target="#modal">
							<p class="mb-0 text-center">Modifier le stock</p>
						</button>
					</div>
				</div>


			</div>

		</div>
		{# second section #}
		<div class=" border-top border-bottom border-dark px-5" style="background-color:#FFFC9C9">
			<div class="px-5 py-4 ">
				<h3 class="w-50" style="border-bottom: solid; border-color:var(--lightPrimary); color: var(--prune);">Description</h3>
				<p class="text-prune">{{wine.description}}</p>
			</div>
		</div>
		{# third section #}
		<div class="px-5 py-4 d-flex justify-content-around">
			<div>
				<p class="text-prune">Prix d'achat :
					{{wine.price}}€</p>
				<p class="text-prune">Date d'achat :
					{{wine.purchaseDate}}</p>
			</div>
			<div>
				<p class="text-prune">Valeur :
					{{wine.value}}€</p>
			</div>
		</div>
		{# fourth section #}
		<div class=" border-top border-bottom border-dark px-5" style="background-color:#FFFC9C9">
			<div class="px-5 py-4">
				<h3 class="w-50" style="border-bottom: solid; border-color:var(--lightPrimary); color: var(--prune);">Commentaire</h3>
				<p class="text-prune">{{wine.comment}}</p>
			</div>
		</div>
		{# fifth section #}
		<a href="maCave" class="d-flex justify-content-center ">
			<button type="button" class="btn btn-prune my-3 p-2 border-0 rounded h-2">
				<p class="mb-0 text-center">Retour à mes vins</p>
			</button>
		</a>
	</div>
	{# modal stock #}

	<div class="modal blur" id="modal">
		<div class=" modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header  text-center">
					<h2 style="color: black">Stock</h2>
					<div class="btn-close" data-bs-dismiss="modal"></div>
				</div>
				<div class="modal-body">
					<input type="number" id="quantity" name="quantity" min="1" max="1200" class="w-100 mb-3" style="text-align:center">
					<div class="d-flex justify-content-center">
						<div class=" btn bg-pinkWine  w-50  btn-sm" style="margin-right:1%">Valider</div>
						<div class=" btn bg-lightPrimary w-50 btn-sm border border-dark">Annuler</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div></div>{# ****************** END modal STOCK ******************** #}{% endblock %}
