{% extends 'layout.html.twig' %}

{% block title %}Ma cave
{% endblock %}

{% block content %}

	<section class="d-flex flex-column-reverse ">
		<div class="macaveEnChiffre bg-lightPrimary d-flex flex-column-reverse">
			<div class="container bg-lightSecondary p-4 mb-5">
				{# <div class="my-5">
					<h2 class="text-prune mb-0">Ma cave en quelques chiffres</h2>
				</div> #}
				<div class="pb-5 pr-5">
					{% block statsCave %}
						{% include "Accueil/statsCave.html.twig" %}
					{% endblock %}
				</div>

			</div>
            <div class="vignettes d-flex flex-column flex-md-row mt-5">
			    <div id="a-deguster" class="w-75 bg-lightPrimary m-5 my-9 p-3 border-start border-end shadow-lg text-prune">
				     <div>
					     <h2 class="text-prune">A déguster cette année</h2>
		             </div>
				     <div class ="underLine" style="height: 2px; background-color: var(--prune); width:50%">
				     </div>

				     <div class="d-flex flex-column justify-content-center flex-sm-row mt-5">
					     <div class="d-flex justify-content-center">
						   <img src="{{ randWine['picture'] ?? '/assets/images/bouteille.svg'}}" style="object-fit:contain"width="100" height="200"/>
					     </div>

					  <a href="showWine?id={{randWine['id']}}">
						<div class=" d-flex flex-column mt-5 mt-sm-0 p-sm-5">
							<div class="d-flex flex-column">
								<h3 class="text-prune">{{randWine['domaine']}}</h3>
								<p class="text-prune">{{randWine['vintage']}}</p>
							</div>

							<span class="box ">
		                        {% if randWine.rank == "1" %}
								    <i class="bi bi-star text-warning"></i>
								{% endif %}
		                        {% if randWine.rank == "2" %}
								     <i class="bi bi-star-fill text-warning"></i>
								     <i class="bi bi-star-fill text-warning"></i>
								{% endif %}
		                        {% if randWine.rank == "3" %}
								     <i class="bi bi-star-fill text-warning"></i>
								     <i  class="bi bi-star-fill text-warning"></i>
								     <i class="bi bi-star-fill text-warning"></i>
								{% endif %}
		                        {% if randWine.rank == "4" %}
								     <i class="bi bi-star-fill text-warning"></i>
								     <i  class="bi bi-star-fill text-warning"></i>
									 <i class="bi bi-star-fill text-warning"></i>
									 <i class="bi bi-star-fill text-warning"></i>
							    {% endif %}
		                        {% if randWine.rank == "5" %}
								     <i class="bi bi-star-fill text-warning"></i>
								     <i  class="bi bi-star-fill text-warning"></i>
									 <i class="bi bi-star-fill text-warning"></i>
									 <i class="bi bi-star-fill text-warning"></i>
									 <i class="bi bi-star-fill text-warning"></i>
								{% endif %}
	                        </span>
							<div class="flex text-prune">
								<p>{{randWine['description']}}</p>
								{# intégrer component stock #}

								<div class="d-flex justify-content-end mt-3">
									<span class=" rounded p-2 text-bg-prune">Stock : {{randWine['stock']}}</span>
								</div>
							</div>
						</div>
					  </a>
				    </div>
			    </div>
                  <div id="randDegustation" class=" d-flex d-none d-md-block w-75 bg-lightPrimary m-5 my-9 p-3 border-start border-end shadow-lg text-prune">
					<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-inner w-100 h-100">							
							<div class="carousel-item active w-100 h-100 bg-danger">
							  <img src="assets/images/photosAccueil/myCellarRandom-1.jpg" class="d-block w-100" alt="myCellarRandom-1">
							</div>
							<div class="carousel-item">
							  <img src="assets/images/photosAccueil/myCellarRandom-2.jpg" class="d-block w-100" alt="myCellarRandom-2">
							</div>
							<div class="carousel-item">
							  <img src="assets/images/photosAccueil/myCellarRandom-4.jpg" class="d-block w-100" alt="myCellarRandom-4">
							</div>
							<div class="carousel-item">
							  <img src="assets/images/photosAccueil/myCellarRandom-5.jpg" class="d-block w-100" alt="myCellarRandom-5">
							</div>
							<div class="carousel-item">
							  <img src="assets/images/photosAccueil/myCellarRandom-6.jpg" class="d-block w-100" alt="myCellarRandom-6">
							</div>
							<div class="carousel-item">
							<img src="assets/images/photosAccueil/myCellarRandom-7.jpg" class="d-block w-100" alt="myCellarRandom-7">
							</div>
							<div class="carousel-item">
							<img src="assets/images/photosAccueil/myCellarRandom-8.jpg" class="d-block w-100" alt="myCellarRandom-8">
							</div>
							<div class="carousel-item">
							<img src="assets/images/photosAccueil/myCellarRandom-10.jpg" class="d-block w-100" alt="myCellarRandom-10">
							</div>
						</div>
					</div>
				  
				  </div>
			</div>
		</div>

	    <div class="bg-lightSecondary pt-4 w-100" style="height: 180px">
		    <div style="border-bottom:solid; border-bottom-color:var(--prune)">
			  <h1 class="pt-2 ps-2 mt-5 mx-5 text-prune" style="letter-spacing:5px">
				My Secret Cellar
			  </h1>
		    </div>
	    </div>
</section>{% endblock %}
